<div id="containerAddScape">
<div id="formDiv">
<form  id="wholeForm">
<input class="input" type="text" placeholder="Title of Soundscape" name="soundscapeTitle" ng-model="soundscape.title"><br/>

<input  class="input" type="textarea" placeholder="Description" name="soundscapeDescription" ng-model="soundscape.description">



<section ng-controller="data">

<input class="input" type="text" ng-model="search" placeholder="Search for A Track"><br/>

<button class="input" ng-click="findTracks(soundscape)">Search Tracks </button> <br/>

<div id="displayBox">

	<div ng-repeat="info in trackInfo track by $index" id="musicTracks">

		<div id="individualTrack">

			<!--grab song pulls from input boxes and individual track click-->
			<a href="#/addScape" ng-click="grabSong(info, soundscape)" ><img ng-src="{{info.image}}" width="100px" id="img"/><br/>
				<div class="trackInfo">
				<span id="songName">{{info.trackName}}</span><br/>
				<span id="songArtist" > {{info.artist}}</span><br/>
			<!-- 	<span id="songAlbum"> {{info.album}}</span> -->
				
				</a>
		</div>
	</div>
</div>

<p>{{denied}}</p>

</section>
<div id="submit">
<a href="#/scapes"> <button type="submit" id="endButton" >Add to Soundscape</button> </a>
</form>
</div>

</div>
</div>