<div>
    <h1>Enter one of the location names below, then click submit!</h1>
    <ul>
        <li>Grand Circus Park</li>
        <li>Belle Isle Aquarium</li>
        <li>Campus Martius Park</li>
    </ul>
</div>

<div>
    <input type="text" name="test" ng-model="input">
    <button ng-click="buttonClick()">submit</button>
</div>

<div id="map">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY1niGMapwRz2qHn2INhDZLYZZpLRjB54&callback=initMap">
    </script>

</div>