<!-- <h2>Grand Circus Park Soundscapes</h2>
<h2></h2>

<div class="songDiv"> 
<h1> Colin's parents wanted to listen to this song </h1>
<p> Colin's parents like Motown and it reminds them of Detroit </p>

<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A583YTL8Fl6pCWtZAi2GvVZ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

</div>

<div class="songDiv"> 
<h1> My favorite Song </h1>
<p> This was our awful test song for this whole project and now we all hate it. </p>

<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4sPmO7WMQUAf45kwMOtONw" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

</div>

<div class="songDiv"> 
<h1> I hate hate </h1>
<p> Point of view point </p>

<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4tIwHPtqFTUViop388eUyj" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div> -->

<ss-soundscape ng-repeat="scape in masterArray track by $index">
</ss-soundscape>


<footer></footer>
