    <a href="#"><div id="logoTitle">
        <img src="imgs/logo.svg"/>
    </div> </a>


<p id="placeLocation"> for (PIN ID) </p>

<div id="results">
<!-- <div class="songDiv"> 
<div class="info">

<h1> Colin's parents wanted to listen to this song </h1>
<p> Colin's parents like Motown and it reminds them of Detroit </p>
</div>
<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A583YTL8Fl6pCWtZAi2GvVZ" width="400" height="380" frameborder="0" allowtransparency="true"></iframe>

</div> -->



<ss-soundscape ng-repeat="scape in targetArray track by $index" id="songDiv">
</ss-soundscape>

</div>

<a href="#/addScape"> <button id="addNew"> Add a New Scape </button></a>

