#containerAddScape{width:100%;
				/*border:solid;*/}

/*#titleAndInfo{width:50%;
		/*	border:solid;*/
		/*	font-size: 24px;
			margin: 0 auto;
			text-align: center;
			}*/

#instruction{font-size: 16px;
            width:40%;
            position: relative;
            margin: auto;
           /* border:solid;*/
            border:1px #eeeeee;
            top:40px;
            text-align: center;
            font-family: roboto;
            font-weight: 400;
            bottom:20px;
            }

#formDiv {width:100%;
		/*border:solid;*/
		margin-right: auto;
		margin-left:auto;}

#wholeForm{
		width:90%;
		margin:auto;
		position: relative;
		top: 54px;}
/*#inputField{width:40%;
			border:solid;
			display:inline-block;
			float:left;}*/

.input {

	width: 26%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border: 1px solid #eeeeee;
    padding: 21px;
    margin-bottom: 17px;
    margin-left: 35%;
}
	
		}
#textDescription{height:100px;}



#displayBox{width:70%;
	border-radius: 5px;
		 	display: flex;
		 /*	float:left;*/
		 	flex-flow: row wrap;
  			height: 300px;
  			margin-left:16%;
  			overflow:auto;
  			/*background-color: #e6ffff*/}

#individualTrack{ /*   border: solid;*/
    margin-left: 21%;
    width: 300px;
    height: 104px;
    padding: 25px;
  		/*	border:solid;*/
}

/*#individualTrack:only-child{margin-left:40%;}*/

.trackInfo{
 background-color: white;
    display: inline-block;
    float: left;
    left: 30%;
    bottom: 101%;
    position: relative;
    width: 200px;
    height: 81px;
    padding: 10px;
    text-align: center;
   /* box-shadow: 5px 5px 5px #888888;*/
}

#img{display: inline-block;
/*	border:solid;*/
    position: relative;
    right: 10px;
	/*box-shadow: 0px 5px 5px #888888;*/}

#songName{font-size: 22px;
		font-weight: 700;}


#endButton{
	 position: relative;
    width: 26%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border: 1px solid #eeeeee;
    padding: 21px;
    margin-top: 42px;
    margin-left: 36%;}

#musicTracks{height:189px;}

#placeholder{font-size: 20px;}