#containerAddScape{width:100%;
				}


#instruction{font-size: 20px;
            color:white;

            width:40%;
            position: relative;
            margin: auto;
           /* border:solid;*/
            border:1px #eeeeee;
            top:40px;
            text-align: center;
            font-family: Roboto;
            font-weight: 500;
            /*bottom:60px;*/
            }

#formDiv {width:100%;
		margin-right: auto;
		margin-left:auto;}

#wholeForm{
		width:90%;
		margin:auto;
		position: relative;
		top: 54px;}


.input {

	width: 26%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border: 1px solid #eeeeee;
    padding: 21px;
    margin-bottom: 17px;
    margin-left: 35%;
    font-size: 16px;
}

.searchButton{
    width: 29.5%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border:none;
    padding: 21px;
    margin-bottom: 17px;
    margin-left: 35%;
    font-size: 16px;

}

.searchButton:hover {
  background:rgb(87, 117, 186);
}

	
.addButton{
    width: 29.5%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    background-color:rgb(111, 203, 203);
    border:none;
    padding: 21px;
    margin-bottom: 17px;
    margin-left: 35%;
    font-size: 16px;
    
}
#textDescription{height:100px;}



#displayBox{width:70%;
	border-radius: 5px;
		 	display: flex;
		 	flex-flow: row wrap;
  			height: 300px;
  			margin-left:16%;
  			overflow:auto;
  		}

#individualTrack{ 
    margin-left: 21%;
    width: 300px;
    height: 104px;
    padding: 25px;
}


.trackInfo{
 background-color: white;
    display: inline-block;
    float: left;
    left: 30%;
    bottom: 101%;
    position: relative;
    width: 200px;
    height: 81px;
    padding: 10px;
    text-align: center;
}

#img{display: inline-block;
    position: relative;
    right: 10px;
	}

#songName{font-size: 22px;
		font-weight: 700;}


#endButton{
	 position: relative;
    width: 26%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border: 1px solid #eeeeee;
    padding: 21px;
    margin-top: 42px;
    margin-left: 36%;}

#musicTracks{height:189px;}

#placeholder{font-size: 20px;}