<!-- <div>
	<p>{{scape.title}}</p>
	<p>{{scape.description}}</p>
	<iframe src={{test}} width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div> -->

<!-- https://embed.spotify.com/?uri=spotify%3Atrack%3A -->

<div class="songDiv">
	<div class="info">
		<h1 id="soundscapeTitle">{{scape.title}}</h1>
		<p id="trackDescription">{{scape.description}}</p>
	<!-- 	<p>{{scape.artist}}</p>
		<p>{{scape.album}}</p>
		<p>{{scape.place}} </p> -->
	</div>
		<!-- <img ng-src="{{scape.albumName}}"/> -->
		<iframe ng-src="{{scape.trackId}}" width="400" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>